@charset "UTF-8";
.date-table { position: absolute; z-index: 2; }

.date-range-selected .ui-state-active, .date-range-selected .ui-state-default { background: #1e4791; color: #fff; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }

.ui-timepicker-div dl { text-align: left; }

.ui-timepicker-div dl dt { float: left; clear: left; padding: 0 0 0 5px; }

.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }

.ui-timepicker-div td { font-size: 90%; }

.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl { direction: rtl; }

.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }

.ui-timepicker-rtl dl dt { float: right; clear: right; }

.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.simditor { display: inline-block; }

.simditor-wrapper { height: 250px; }

/* ui插件样式自定义 */
.ui-dialog .ui-dialog-content { padding: 1.5em 1em 1em 1em; }

.plupload_container { padding: 0; }
