.DS_Store
Thumbs.db
*.swp
*.swo
app/storage/*
app/tests/_output/*
.gitignore
.git/*
*.sublime-project
*.sublime-workspace
public/apks/*
public/icons/*
public/pictures/*
public/cateads/*
public/ads/*
*.apk
app/config/database.php
