.DS_Store
Thumbs.db
*.swp
*.swo
app/storage/*
app/tests/_output/*
.gitignore
.git/*
.idea/*
*.sublime-project
*.sublime-workspace
public/apks/*
public/icons/*
public/pictures/*
public/catads/*
public/cateads/*
public/ads/*
*.apk
app/config/database.php
.idea/
app/config/ucDelta.php
app/config/ucCGame.php
public/info.php
public/Uploads/*
*~
