@charset "UTF-8";
.signin-content { position: absolute; left: 50%; }

.signin-content .button { cursor: pointer; padding: 0.4em 1em; border: 0; font-size: 1em; }

.signin-content .input { padding-left: 5px; outline: none; padding: 0.4em; border: 0; font-size: 1em; }

.validate input.error { border: 1px solid red; }
.validate em.error { color: red; margin-left: 10px; }

/* 登录页面样式 */
.signin-wrap { width: 100%; background: url("../images/admin/login_bg.jpg") no-repeat scroll center top #0071d6; }

.signin-content { margin-left: -193px; width: 386px; margin-top: 200px; }
.signin-content p { margin: 25px 0; text-align: center; }
.signin-content label { font-size: 1.2em; color: #fff; }
.signin-content .input { width: 200px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-left: 15px; }
.signin-content .title { font-size: 2em; color: #dff01c; padding-bottom: 20px; }
.signin-content .button { background: #f59100; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 100px; margin-top: 15px; font-size: 1.2em; color: #fae900; }
.signin-content .button:hover { background: #ffa829; }

/* 登录验证 */
.validate em.error { position: relative; left: 110px; top: 10px; display: block; width: 225px; text-align: left; color: #fff; }
