@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; }
body { font-family:"Arial Normal","Arial"; font-size:18px; }
ul li { list-style-type:none; }
a { text-decoration:none; }

/* 盒子 */ 
.page-box { width:100%; height:1080px; display:block; border:solid 1px #000; }
/* 左侧内容 */ 
.border-left { width:225px; height:1080px; float:left; position:absolute; background:#00457C; }
/* 标题 */
h2 { margin-top: 55px; font-size:28px; text-align:center; color:#FFF; }
/* 内容开始 */
.nav { margin-top:70px; font-size:13px; float:right; }
h4 { padding-left:30px; color:#FF6; }
.nav a { line-height:50px; padding-right:20px; color:#69C; }
/* 菜单 */
a.actuator { width:180px; float:right; text-align:right; padding-right:20px; border-radius:5px; margin-top:20px; line-height:37px; color:#000; background:#F6FA7B; }
.menu { margin-right:20px; line-height:30px; display:none; text-align:right; float:right; }
.menu li a { font-size:14px; color:#FFF; }
.menu li a:hover { color:#dfdf0b; }
/* 右侧内容 */
.border-right { height:1040px; padding-left:225px; display:block; border-top:solid 10px #E3E3E3; border-left:solid 25px #E3E3E3; border-bottom:solid 30px #E3E3E3; float:right; }
/* 右侧主体内容 */
.title { height:45px; color:#333; background:#BBBBBB; border:solid 1px #000;　}
.title span b { margin-left:10px; line-height:45px; font-size: 20px; }
.title span { font-size: 16px; }
/* 查询 */
.search { margin-left:30px; margin-top:25px; line-height:80px; font-size:16px; background:#E3E3E3; border:solid 1px #000; }
.search p { margin-left:30px; word-spacing:2em; }
/* 上架游戏记录 */
.load-game { height:50px; line-height:50px; margin-left:30px; font-size:16px; color:#333; }
.load-game span b { color:#F00; }
/* 上架游戏记录表格 */
.games-list { margin-left:30px; } 
.games-list th { padding:8px; font-size:16px; color:#FFF; background:#133E70; }
.games-list td { height:40px; line-height:40px; font-size:14px; text-align:center; }
tbody tr.even td { background:#BBBBBB; }
tbody tr.odd td { background-color:#D6D6D6; }
span.green { color:#008000; }
/* 上下翻页块 */
.choose-page { margin-top:20px; margin-left:30px; font-size:13px; }
.choose-page a { padding:3px 10px; border:1px solid #ccc; color:#333; }