@charset "utf-8";
/* CSS Document */
/* 查询 */
.search { margin-top:30px; margin-left:30px; line-height:50px; font-size:16px; background:#F6F6F6; border:solid 1px #DEDEDE; }
.search p { margin-left:30px; word-spacing:1em; }

/* 游戏表格 */
.table-load { height:50px; line-height:50px; margin-left:30px; font-size:16px; color:#333; }
.table-load span b { color:#F00; }
.table-load input { margin-left:30px; }
.table { margin-left:30px; }
.table th { padding:8px; font-size:16px; color:#FFF; text-align:center; background:#133E70; }
.table td { height:40px; line-height:40px; font-size:14px; text-align:center; }
.table tr.even { background:#E9E9E9; }
.table tr.odd { background:#F6F6F6; }
.tag img { width:22px; height:20px; margin-left:5px; vertical-align:middle; }
.icon img { width:26px; height:26px; }
.table span.green { color:#008000; }
.table span.red { color:#FF0025; }
.table span.blue { color:#00F; }
.gray input { color:#A1A1A1; }

/* 编辑游戏表格 */
.main-table { font-size:16px; color:#333; font-weight:400; margin-left:30px; }
.main-table table { width:1500px; line-height:40px; }
.main-table tr.odd { background:#E9E9E9; }
.main-table tr.even { background:#F6F6F6; }
.text-right { text-align:right; padding-right:20px; }
.icons img { width:79px; height:64px; vertical-align: middle; }
.img-explain { color:#F00; font-size:13px; }
.preview img { width:90px; height:155px; }
.draft { padding-left:300px; line-height:40px; color:#F00; font-size:13px; text-decoration:underline; background:#E9E9E9; }
.submit-back { width:1500px; line-height:80px; text-align:center; word-spacing:3em; background:#E9E9E9; }

/* 上下翻页 */
.pagination { margin-top:20px; margin-left:30px; font-size:13px; }
.pagination a { padding:3px 10px; border:1px solid #ccc; color:#333; }