.date-list { width: 190px; background: #fdfdfd; border: 1px solid #b4b4b4; position: absolute; right: 30px; top: 40px; }
.date-list li { height: 30px; line-height: 30px; padding-left: 10px; cursor: pointer; text-align: left; }
.date-list li:hover { background: #e8e8e8; }
