@charset "UTF-8";
.phone-content .phone-button { cursor: pointer; padding: 0.4em 1em; border: 0; font-size: 1em; }

/* stock.html下架列表页面手机预览弹窗 */
.phone-content .phone-infos, .phone-tags span { border: 1px solid #e6e6e6; padding: 7px; background: #fff; }

.phone-content { font-size: 10px; }
.phone-content .phone-infos { border-right: 0; }
.phone-content .phone-infos ul { display: inline-block; width: 74%; margin-left: 5px; }
.phone-content .phone-infos li { margin-bottom: 5px; }
.phone-content .phone-infos li i { margin-right: -3px; }
.phone-content .phone-infos .small { font-size: 8px; color: #777; }
.phone-content .phone-infos .small span { display: inline-block; width: 49%; }
.phone-content .phone-button { background: #96aa39; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #fff; text-align: center; padding: 0.2em 0.8em; }
.phone-content .phone-button:hover { background: #859733; }
.phone-content .text i { font-size: 15px; }
.phone-content .text li { height: 25px; line-height: 25px; border-top: 1px solid #efefef; }
.phone-content .text .phone-button { margin-top: 3px; }

.phone-subtitle { height: 30px; line-height: 30px; background: #fff; font-size: 12px; }
.phone-subtitle span { width: 32%; display: inline-block; text-align: center; }
.phone-subtitle span.current { color: #96aa39; border-bottom: 2px solid #96aa39; }

.phone-tags { margin: 10px; }
.phone-tags span { display: inline-block; margin-right: -1px; margin-bottom: -1px; }

.carousel li { margin-right: 5px; }

.owl-theme .owl-controls .owl-page span { margin: 0 7px; width: 6px; height: 6px; border-radius: 12px; }

.gift-list .gift .number, .gift-list .gift .button-block { display: inline-block; }

.gift-list { margin-top: 20px; }
.gift-list * { vertical-align: middle; }
.gift-list .gift { margin-bottom: 15px; border: 1px solid #ccc; line-height: 30px; }
.gift-list .gift .gift-content { width: 80%; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.gift-list .gift .number { width: 8%; font-size: 2em; text-align: center; }
.gift-list .gift .button-block { width: 10%; text-align: center; }
.gift-list .gift .button-block p { font-size: 1.2em; margin-bottom: 10px; }

.pic-preview { width: 110px; height: 185px; float: left; margin: 5px; position: relative; }
.pic-preview img { height: 100%; }
.pic-preview .red-button { position: absolute; bottom: 0; right: 0; }
.pic-preview .add-pic { height: 185px; line-height: 185px; background: transparent; border: 1px dashed #555; width: 110px; text-align: center; cursor: pointer; font-size: 1.2em; }

.pic-tip { margin: 5px; }

.sort-wrap .sort-title { font-size: 1.1em; color: #193974; font-weight: bold; }
.sort-wrap .sort-list { margin: 10px 0 20px 0; }
.sort-wrap .sort-list li { height: 25px; line-height: 25px; float: left; width: 20%; }

.tags-wrap { clear: both; padding: 15px; border: 1px solid #ccc; height: 400px; overflow-y: scroll; overflow-x: hidden; }
.tags-wrap .tags-title { font-size: 1.1em; color: #193974; font-weight: bold; }
.tags-wrap ul { padding: 5px; }
.tags-wrap ul .sub-tag-title { clear: both; font-weight: bold; display: block; padding-top: 10px; }
.tags-wrap ul .sub-tag-list { padding-bottom: 25px; }
.tags-wrap ul .sub-tag-list li { height: 25px; line-height: 25px; float: left; width: 16%; }
