/* HTML5 display-role reset for older browsers */　　
article, aside-wrap, details, figcaption, figure, footer, header, hgroup, menu,nav, section { display: block; }
body { line-height: 1;　}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: '';content: none; }
table { border- collapse: collapse;border-spacing: 0; }

/* 重置css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { padding: 0;margin: 0; }
table { border-collapse: collapse;border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; }
ol,ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }

/* 自定义重置 */
* { margin: 0;padding: 0; }
body { font-family:'微软雅黑';font-size: 14px; }
table td { border:0; }
img { max-width: 100%;border-width: 0; } 
a { text-decoration: none; }
a:hover { text-decoration: none; }

/* 通用元件 */
.button,
.red-button { display:inline-block;padding: 0px 10px;text-align: center;line-height: 25px;border:0;color:#fff;
	font-family:'微软雅黑';cursor: pointer;-webkit-border-radius: 3px;border-radius: 3px; }
.button { background: -webkit-linear-gradient(to bottom, #145296, #083975);background: linear-gradient(to bottom, #145296, #083975); }
.button:hover { color: #dfdf0b; }
.red-button { background: -webkit-linear-gradient(to bottom, #145296, #083975);background: linear-gradient(to bottom, #145296, #083975); }
.upload-button { position: absolute; top: 0;left:0;opacity: 0;cursor: pointer; }
.select { height: 30px;line-height: 30px; }
.input { padding: 5px 0 5px 5px;border: 1px solid #ccc;border-radius: 3px; }
.red { color:red; }
.relative { position: relative; }
.ml10 { margin-left: 10px; }
.mr10 { margin-right: 10px; }
.padding-v5 { padding: 5px 0; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.valign-middle * { vertical-align: middle; }

/* 左侧内容 */
.side-wrap { position: absolute;left: 0;top: 0;width: 230px;height:985px;color: #fff;
    background: -webkit-linear-gradient(to bottom, #004680, #00447c);
    background: linear-gradient(to bottom, #004680, #00447c); }
.side-wrap h5{ margin-right: 10px;margin-bottom: 50px;color: #ccc; }
.side-wrap a { color: #fff; }
.side-wrap .title { font-size: 24px;font-weight:bold;padding:70px 0 35px 0;text-align: center; }
.side-wrap .content { text-align: right; }
.side-wrap .subtitle { margin-bottom: 20px;color: #dfdf0b; }
.side-wrap .subtitle span { padding-left: 5px; }

/* 菜单 */
.menu { margin: 25px 0 25px 30px; }
.menu ul { display:none;padding-right: 10px;font-size: 16px; }
.menu li { margin:15px 0; }
.menu p { width: 190px;height: 37px;line-height: 37px;padding-right: 10px;border-radius:5px 0 0 5px;
    font-size: 18px;color: #000;background-color: #dfdf0b;cursor: pointer; }
.menu p.current { background-color: #f6f6f6; }

/* 右侧主体内容 */
.main-wrap { min-width:710px;height:945px;padding: 20px;padding-left:250px;background-color: #f0f0f0; }
.main-wrap .content { padding:15px;background-color: #fff; }
.main-wrap .input { width:100px; }
/* 当前位置 */
.breadcrumb { line-height: 40px;padding: 0 15px;font-size: 18px;background-color: #e9e9e9;border: 1px solid #ccc; }
.breadcrumb b { margin: 0 5px;font-weight: normal; }
/* 查询 */
.search { padding: 10px 15px;background-color: #e9e9e9; }
.search span { margin-right: 10px; }
.search i { font-style: normal; }
/* 表格 */
.table .title { margin: 20px 0; }
.table table { width: 100%;background-color: #f3f4f6; }
.table th { line-height: 40px;text-align: center;color:#fff;background-color: #1e4791; }
.table td { line-height: 35px; }
.table img { width: 25px;height: 25px; }
.table td * { vertical-align: middle; }
.table .preview { cursor: pointer; }
.table .ellipsis { display: inline-block;max-width: 204px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }

/* 上下翻页 */
.pagination { margin:30px 0; }
.pagination span { padding:3px 8px;border:1px solid #ccc;cursor: pointer; }
.pagination span:hover,
.pagination span.current { color: #fff;background-color: #044378; }
.pagination .disabled,
.pagination .disabled:hover { color: #eee;border:1px solid #eee;background-color: #fff; }

/* 编辑信息 */
.infos { height: 873px;margin-bottom: 20px;overflow:scroll; }
.infos .title { font-size: 16px;margin-bottom: 10px; }
.infos b { float: left;margin-left: 20px;color: red; }
.infos i { font-style: normal; }
.infos .preview img { width: 100px;height: 150px; }
.infos .icon img { width: 120px;height: 100px; }
.infos .text-right { width: 20%;min-width:200px; }
.infos .input { width:70%;margin-left:0; }
.infos .textarea { padding: 10px 0; }