/* HTML5 display-role reset for older browsers */　　
article, aside, details, figcaption, figure, footer, header, hgroup, menu,nav, section { display: block; }
body { line-height: 1;　} 
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: '';content: none; }
table { border- collapse: collapse;border-spacing: 0; }

/* 重置css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { padding: 0;margin: 0; }
table { border-collapse: collapse;border-spacing: 0; }
fieldset,img { border: 0; }  
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; }
ol,ul { list-style: none; } 
caption,th { text-align: left; } 
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; } 
q:before,q:after { content:''; } 
abbr,acronym { border: 0; }

/* 自定义重置 */
* { margin: 0;padding: 0; }  
body { font-family:'微软雅黑';font-size: 14px; }
table td { border:0; }
img { max-width: 100%;border-width: 0; } 
a { text-decoration: none; } 
a:hover { text-decoration: none; }

/* 通用按钮元件 */
.button { display:inline-block;padding: 0px 10px;text-align: center;line-height: 25px;border:0;color:#fff;
	font-family:'微软雅黑';cursor: pointer;-webkit-border-radius: 3px;border-radius: 3px;
    background: -webkit-linear-gradient(to bottom, #145296, #083975);
    background: linear-gradient(to bottom, #145296, #083975); }
.button:hover { color: #dfdf0b; }
.file-button { position: absolute; top: 0;left:0;opacity: 0;cursor: pointer; } 
/* 通用输入框元件 */
.select { height: 30px;line-height: 30px; } 
.input { padding: 5px 0 5px 5px;border: 1px solid #ccc;border-radius: 3px; }
/* 红色文字强调 */
.color-red { color:red; }
/* 相对定位 */
.relative { position: relative; }

/* 左侧内容 */
.side-box { position: absolute;left: 0;top: 0;width: 230px;height:985px;color: #fff;
    background: -webkit-linear-gradient(to bottom, #004680, #00447c);
    background: linear-gradient(to bottom, #004680, #00447c); } 
.side-box h5{ margin-right: 10px;margin-bottom: 50px;color: #ccc; }  
.side-box a { color: #fff; } 
.side-box .title { font-size: 24px;font-weight:bold;padding:70px 0 35px 0;text-align: center; }
.side-box .content { text-align: right; }  
.side-box .subtitle { margin-bottom: 20px;color: #dfdf0b; }  
.side-box .subtitle span { padding-left: 5px; } 
.side-box .change-pwd { margin-right: 10px; }

/* 菜单 */
.menu { margin: 25px 0 25px 30px; }  
.menu ul { display:none;padding-right: 10px;font-size: 16px; }  
.menu li { margin:15px 0; }   
.menu p { width: 190px;height: 37px;line-height: 37px;padding-right: 10px;border-radius:5px 0 0 5px;
    font-size: 18px;color: #000;background-color: #dfdf0b;cursor: pointer; }  
.menu p.current { background-color: #f6f6f6; }  

/* 右侧主体内容 */
.main-box { min-width:710px;height:945px;padding: 20px;padding-left:250px;background-color: #f0f0f0; }
.main-box .content { padding:15px;background-color: #fff; } 
.main-box .input { width:100px; }    
.main-box .breadcrumb { line-height: 40px;padding: 0 15px;font-size: 18px;background-color: #e9e9e9;border: 1px solid #ccc; }
.main-box .breadcrumb b { margin: 0 5px;font-weight: normal; }
/* 查询块 */
.search { padding: 10px 15px;background-color: #e9e9e9; } 
.search span { margin-right: 10px; }
.search i { font-style: normal; }
/* 表格 */
.table .title { margin: 20px 0; } 
.table table { width: 100%; } 
.table tbody { background-color: #f3f4f6; }  
.table th { line-height: 40px;text-align: center;color:#fff;background-color: #1e4791; } 
.table td { line-height: 35px;text-align: center; }   
.table img { width: 25px;height: 25px; }
.table td *,
.table .icon * { vertical-align: middle; }
.table .preview { cursor: pointer; }
.table .ellipsis { display: inline-block;max-width: 204px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis; }

/* 上下翻页块 */
.pagination { margin:30px 0; }  
.pagination span { padding:3px 8px;border:1px solid #ccc;cursor: pointer; }  
.pagination span:hover,
.pagination span.current { color: #fff;background-color: #044378; } 
.pagination .disabled,
.pagination .disabled:hover { color: #eee;border:1px solid #eee;background-color: #fff; }

/* 编辑信息 */
.infos { height: 873px;margin-bottom: 20px;overflow:scroll; } 
.infos .title { font-size: 16px;margin-bottom: 10px; }
.infos ul { width:100%;background-color: #f3f4f6; } 
.infos li { padding: 4px 0;line-height: 35px; }
.infos b { float: left;margin-left: 20px;color: red; }
.infos i { font-style: normal; }
.infos .textarea * ,
.infos .new-version * ,
.infos .preview * { vertical-align: middle; } 
.infos .preview img { max-height: 155px; }
.infos .left ,
.infos .right { display: inline-block; }
.infos .left { width: 20%;max-width:200px;text-align: right; }
.infos .right { width: 78%; }
.infos .input { width:70%;margin-left:0; }
.infos .textarea { padding: 10px 0; }
/* 新版本块 */
.new-version img { max-width: 120px;max-height: 100px; }
/* 游戏截图选择图片的提示 */
.choice-img .color-red { padding: 0 10px;margin-right: 10px;font-size: 12px;font-weight: normal;background-color: #e3f0ff; }
/* 提交和返回按钮块 */
.submit-back { text-align: center;margin: 20px 0; }  
.submit-back input { margin-right: 50px; }